<a href="https://colab.research.google.com/github/seoyeon0905/mimic-readmission-analysis/blob/main/notebooks/01_data_loading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 01. Data Loading and Table Overview

This notebook focuses on loading the MIMIC-III demo dataset and examining the
structure of each table used in the analysis.

The goal of this step is to understand how patient-level clinical data are
organised across multiple relational tables, which is essential for defining
a valid study cohort and conducting downstream analyses.

In [ ]:
# 깃허브 레포를 코랩에 연결하기
!git clone https://github.com/seoyeon0905/medical-data-analysis.git

Cloning into 'medical-data-analysis'...
remote: Enumerating objects: 76, done.
remote: Counting objects: 100% (76/76), done.
remote: Compressing objects: 100% (66/66), done.
remote: Total 76 (delta 18), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (76/76), 334.63 KiB | 4.58 MiB/s, done.
Resolving deltas: 100% (18/18), done.

In [ ]:
# csv 파일 불러오기
import pandas as pd

base_path = "/content/medical-data-analysis/data"

patients = pd.read_csv(f"{base_path}/PATIENTS.csv")
admissions = pd.read_csv(f"{base_path}/ADMISSIONS.csv")
diagnoses = pd.read_csv(f"{base_path}/DIAGNOSES_ICD.csv")
icd_desc = pd.read_csv(f"{base_path}/D_ICD_DIAGNOSES.csv")
icustays = pd.read_csv(f"{base_path}/ICUSTAYS.csv")

patients.head()

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,expire_flag
0,9467,10006,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1
1,9472,10011,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1
2,9474,10013,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1
3,9478,10017,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1
4,9479,10019,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1

In [ ]:
# 데이터 크기 & 컬럼 확인하기
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       100 non-null    int64
 1   subject_id   100 non-null    int64
 2   gender       100 non-null    object
 3   dob          100 non-null    object
 4   dod          100 non-null    object
 5   dod_hosp     70 non-null     object
 6   dod_ssn      77 non-null     object
 7   expire_flag  100 non-null    int64
dtypes: int64(3), object(5)
memory usage: 6.4+ KB

In [ ]:
# 데이터 크기 & 컬럼 확인하기
admissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   row_id                129 non-null    int64
 1   subject_id            129 non-null    int64
 2   hadm_id               129 non-null    int64
 3   admittime             129 non-null    object
 4   dischtime             129 non-null    object
 5   deathtime             40 non-null     object
 6   admission_type        129 non-null    object
 7   admission_location    129 non-null    object
 8   discharge_location    129 non-null    object
 9   insurance             129 non-null    object
 10  language              81 non-null     object
 11  religion              128 non-null    object
 12  marital_status        113 non-null    object
 13  ethnicity             129 non-null    object
 14  edregtime             92 non-null     object
 15  edouttime             92 non-null     object
 16  diagnosis             129 non-null    object
 17  hospital_expire_flag  129 non-null    int64
 18  has_chartevents_data  129 non-null    int64
dtypes: int64(5), object(14)
memory usage: 19.3+ KB